@font-face {
    font-family: 'IKEASans';
    src : url('../public/IKEA_fonts/IKEASans-Regular.ttf');
}

html, body, :global(#root) {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial;
  background: #fff;
  font-family: 'IKEASans';
}